body {
  background: #24353f;
}

h1{
  color:#17a2b8;
  font-size: 2.5rem;
padding: 30px;
}
.parents{
  box-shadow:  -5px 2px 54px -9px rgba(0, 0, 0, 1);
  margin: 10pc auto;
}
nav{
  box-shadow:  -5px 2px 54px -9px rgba(0, 0, 0, 1);

}

.navbar-brand{
  color: #fff; 
}
.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}